<!-- <div class="todo"> -->
	<div id="wrapper">
		
		<div id="header">
			<div id="logonav"><a href="/">
				<img src="/img/logoresults.png" title ="logo-nav"></div> 
			</a>
			<div class="navbarme">
				
				<ul>
					<li><a href="/about" title="About Zoom Out Me">About</a></li>
					<li><a href="/" title="Search">Search</a></li>
					<li><a href="/findings/" title="My Findings">My Findings</a></li>	
				</ul>
			</div>
		 </div><!--closing header-->
		 
	 
	<div id="leftcolumn">
	
		<h2>Total de findings:  <%= findings.length %> </h2>
  
     	<h2>user: <%= user_id%></h2>
    
    	<!-- looping through each recommendation -->
       <div id="findings-list">
   		<% for(var i=0; i < findings.length; i++) { %> 
   		
   		<%if (i%4 == 0){ %><ul class="row-<%i/4%>"> <%}%>
        <!-- recommendation row -->
        <li class="finding item" data-itemid="<%= findings[i].item_id %>" >

			<%= findings[i].item_id %>

          	<a href="<%= findings[i].url %>"><%= findings[i].item %>      	
	          	<img src="<%= findings[i].image %>">
          	</a>

			<p>
				<%=findings[i].description%>
				
			</p>
			<form>
				<input type="button" value="delete" />
			</form>

        </li><!-- end of recommendation row -->
        <%if (i%4 == 3){ %></ul> <%}%>

    <% } %>
	</div>
    </div>
</div>
