<!-- <div class="todo"> -->
	<div id="wrapper">
		<div id="header">
			<div class="site-nav">
				<ul>
					<li><a href="/about" title="About Zoom Out Me">About</a></li>
					<li><a href="/" title="Search">Search</a></li>
					<li><a href="/findings/" title="My Findings">My Findings</a></li>	
				</ul>
			</div><!--close site-nav-->
	 	</div><!--close header-->
         
        <div id="leftcolumn"></div>
					   
		<h2>Total de recommendations: <%= totalRecs %> <%= hunchRecs.length %> </h2>
	   
	   <div id="content">
			<div>
				<canvas id="spiral2462012" data-processing-sources="/js/spiral2_4_6_2012.pde" 
						width="400" height="400">
					<p>Your browser does not support the canvas tag.</p>
					<!-- Note: you can put any alternative content here. -->
				</canvas>
				<noscript>
					<p>JavaScript is required to view the contents of this page.</p>
				</noscript>
		 		</div>
		 	</div>
		<div id="spiralNumberContainer"></div>
		
		</div> <!--closing leftcolumn-->
		
		<div id="rightcolumn">
		
		user: <%= user_id%>
		
		<!-- looping through each recommendation -->
	   <% for(i=0; i<hunchRecs.length-1; i++) { %> 
			<!-- recommendation row -->
			 
			<div class="recommendation row" data-hunchStars="<%= hunchRecs[i].stars %>">
				<!-- left column -->
				<!-- <div class="span6"> -->
				<form method="post" action="/home">
					<b>
						<a href="<%= hunchRecs[i].url %>"><%= hunchRecs[i].title %></a>
						<input type="hidden" name="user_id" value="<%= user_id%>">
						<input type="hidden" name="item_id" value="<%= hunchRecs[i].result_id%>">
						<input type="hidden" name="title" value="<%= hunchRecs[i].title %>">
						<input type="hidden" name="item"  value="<%=hunchRecs[i].url%>">
						<input type="hidden" name="image" value="<%=hunchRecs[i].image_urls[0] %>">
						<input type="hidden" name="description" value="<%=hunchRecs[i].description %>">
						<input type="hidden" name="recommend" value="<%=hunchRecs[i].recommend %>">
					</b> - <%= hunchRecs[i].result_id %><br>
					stars: <%= hunchRecs[i].stars %><br>
				   <!--score:<br>
					<!-- loop through all score array items -->
					<!--
<% for (s=0;s<hunchRecs[i].score.length; s++) { %>
					
					<span class="score"><%= hunchRecs[i].score[s] %></span><br>
					<% } %>
-->
-->
				</div>
				<!-- end of left column -->
				
				<!-- Right column -->
				<a href="<%= hunchRecs[i].url %>"><%= hunchRecs[i].title %></a>
				<img src="<%= hunchRecs[i].image_urls[0] %>">
				<input name="description" value="<%=hunchRecs[i].description %>">
					
				</div><!-- end of right column -->
				<div class="subnav">
					<button type="submit" class="btn btn-primary">Add to findings</button> 
				</div>
				</form>


			</div><!-- end of recommendation row -->
		<% } %>

	</div>
<!-- </div> -->

</div>
		
		
<script src="/js/processing.js" type="text/javascript"></script>
<script type="text/javascript">function getProcessingSketchID () { return 'spiral2462012'; }</script>
<script src="/js/interface.js" type="text/javascript"></script>