<!-- <div class="todo"> -->
	<div id="wrapper">
		
		<div id="header">
			<div id="logonav"><a href="/">
				<img src="/img/logoresults.png" title ="logo-nav"></div> 
			</a>
			<div class="navbarme">
				
				<ul>
					<li><a href="/about" title="About Zoom Out Me">About</a></li>
					<li><a href="/" title="Search">Search</a></li>
					<li><a href="/findings/" title="My Findings">My Findings</a></li>	
				</ul>
			</div>
		 </div><!--closing header-->
		 
		 <div id="leftcolumn">
		 					   
			<h2>Total de recommendations: <%= totalRecs %> <%= hunchRecs.length %> </h2>
	   <!--
 <div class="well">
			from hunch api:
			<br><a href="<%= url %>"><%= url %></a>
		</div>-->
		
			<div id="content">
				<div>
					<canvas id="spiral2462012" data-processing-sources="/js/spiral2_4_6_2012.pde" 
						width="400" height="400">
						<p>Your browser does not support the canvas tag.</p>
					<!-- Note: you can put any alternative content here. -->
					</canvas>
					<noscript>
					<p>JavaScript is required to view the contents of this page.</p>
					</noscript>
		 		</div>
		 	</div><!--closing content-->
		 	
			<div id="spiralNumberContainer"></div>
		
			user: <%= user_id%>
		
		</div> <!--closing leftcolumn"-->
		
		
		
		<div id="rightcolumn">
		
			<div class="ContentFlow">
            	<div class="row">
					<!-- looping through each recommendation -->
						<% for(i=0; i< 40 ; i++) { %> <!-- 40 should be hunchRecs.length-1 -->
					<!-- recommendation row -->
					 
						<div class="recommendation item" data-hunchStars="<%= hunchRecs[i].stars %>">
						<!-- left column -->
						 
							<form method="post" action="/home">
								<!-- <a href="<%= hunchRecs[i].url %>"><%= hunchRecs[i].title %></a> -->
								<input type="hidden" name="user_id" value="<%= user_id%>">
								<input type="hidden" name="item_id" value="<%= hunchRecs[i].result_id%>">
								<input type="hidden" name="title" value="<%= hunchRecs[i].title %>">
								<input type="hidden" name="item"	value="<%=hunchRecs[i].url%>">
								<input type="hidden" name="image" value="<%=hunchRecs[i].image_urls[0] %>">
								<input type="hidden" name="description" value="<%=hunchRecs[i].description %>">
								<input type="hidden" name="recommend" value="<%=hunchRecs[i].recommend %>">
							id: <%= hunchRecs[i].result_id %></br>
							stars: <%= hunchRecs[i].stars %></br>
		
							</form>
							<img class='content' src="<%= hunchRecs[i].image_urls[0] %>" title="<%=hunchRecs[i].title%>"/>
							<!-- <img class="item" src="<%= hunchRecs[i].image_urls[0] %>" title="Your_Image_Title"/> -->
							<!-- <img class="item" src="<%= hunchRecs[i].image_urls[0] %>"/> -->
							<!-- Add as many items as you like. -->
				
							<div class="subnav">
								<button type="submit" class="btn btn-primary">Add to findings</button> 
							</div>

						</div><!-- end of recommendation row -->
					<% } %>
            
        		</div><!-- end of flow-->
				<!-- 
				<div class="globalCaption"></div>
            	<div class="scrollbar"><div class="slider"><div class="position"></div>
				-->
		
			</div><!-- end of ContentFlow -->
		</div><!--closing righ column-->



<div id="footer">
<!-- <div id="copyright">ZoomOut.Me is the ITP thesis of <a href="www.valentinacamacho.com">Valentina Camacho</a> © 2012.</div> -->
</div>

</div><!--closing wrapper-->
		

