	
	<link href="http://fonts.googleapis.com/css?family=Terminal+Dosis&subset=latin" rel="stylesheet" type="text/css">
	<script type="text/javascript" src="static/js-intro/prefixfree.min.js"></script>

	<ul class="navigation">
			<li><a href="#start">1</a></li>
			<li><a href="#description">2</a></li>
			<li><a href="#syntax">3</a></li>
			<li><a href="#scrollbar">4</a></li>
			<li><a href="#rotations">5</a></li>
			<li><a href="#rotations-rotated">6</a></li>
			<li><a href="#source">7</a></li>
			<li><a href="#follow">8</a></li>
		</ul>
		<div class="settings">
			<a href="" class="show-path">Show Path</a>
		</div>
		<div class="wrapper homewrapper">
			<div class="demo">
				<h1><img src="/img/logo.png"></h1>
				</br>
			</div>
			
			<div class="description">
				<span class="big">An experimental site to explore recommendations outside your range of taste</span>
			</div>

			<div class="syntax">
				<span class="big">It uses the Hunch algorithm</span>
			</div>

			<div class="scrollbar">
				<span class="big">to show you things outside your taste and </span>
			</div>

			<div class="rotations">
				<span class="big">It also does rotations</span>
				<span class="upside-down big">in <a href="http://caniuse.com/#feat=transforms2d">supported</a> browsers.</span>
			</div>

			<div class="source">
				<span class="big">It's available with documentation on <a href="/login">Log in with Hunch</a>.<span>
			</div>

			<div class="follow">
				<span class="big">Feel free to <a href="https://twitter.com/valencamacho">follow me</a> on Twitter.</span>
			</div>

		</div>
	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.pack.js"></script>
	<script type="text/javascript" src="/js/js-intro/jquery.easing.js"></script>
	<script type="text/javascript" src="/js/js-intro/jquery.scrollpath.min.js"></script>
	<script type="text/javascript" src="/js/js-intro/demo.js"></script>
