<div class="row">

    <div class="span12">
        
        <h2>Join The Jump Off</h2>
        
        <button type="button">Join</button> 

      
        <div id="hn-root"></div>
		<script>
		  window.hnAsyncInit = function() {
		      Hunch.setAuthToken('6275cb220d05d45e411be1358cdcd7a765a1c80b');
		  };
		  (function() {
		      var e = document.createElement('script'); e.async = true;
		      e.src = 'http://hunch.com/media/js/hunch-api.js';
		      document.getElementById('hn-root').appendChild(e);
		  }());
		</script>


</div>
</div>

//secret = a1082861f27bce308ba4cf7940b71324ab8b7b05
//app_id=3147671&auth_token_key=rswtvhibam9737604&auth_sig=ed9bb02d5bf17055a3928f1c7fb77b1dc985ef4d&next=

var crypto = require('crypto')
  , shasum = crypto.createHash('sha1');
shasum.update("foo");
console.log(shasum.digest('hex'));



APP_SECRET = 'a1082861f27bce308ba4cf7940b71324ab8b7b05';

var dict = {
	'app_id' : '3147671',
	'auth_token_key' : 'rswtvhibam9737604'
	
}

function urlencode(x) {
    return escape(x).replace('+','%2B').replace('/','%2F').replace('@','%40').replace('%20','+');
}

function getAuthSig(queryDict) {
    var keys = [];
    for (var key in queryDict)
        keys.push(key);
    keys.sort();
    var queries = [];
    for (var i in keys)
        queries.push( urlencode(keys[i]) + '=' + urlencode(queryDict[keys[i]]) );
    var data = queries.join('&') + APP_SECRET;
    console.log(data);
    shasum.update(data);
    return shasum.digest('hex');

}


getAuthSig(dict);