<html>
  <head>
    <title>Page title</title>
    
    <link rel="stylesheet" href="/css/mystyle.css"/>
    <script type="text/javascript" src="/lib/jquery.placeholder.js"></script>
    <script type="text/javascript" src="media/j/lib/jquery-ui-1.8.11.custom.min.js"></script>
    
   </head>
    
  <body>
  <div class="site-nav">
    	<div id = "logo"></div>
    	
    	<div class = "pagenav">
    	
    		<div class="site-nav">
				<ul>
					<li><a href="/about" title="About Zoom Out Me">About</a></li>
					<li><a href="/search" title="Search">Search</a></li>
					<li><a href="/findings" title="My Findings">My Findings</a></li>	
				</ul>
			</div>    		
    		<div class ="search"></div>
    	</div>
    	<div class ="userid"></div>
    	
 	</body>
</html>

