/*
      Created by Keith Donegan of Code-Sucks.com
	  
	  E-Mail: Keithdonegan@gmail.com
	  
	  You can do whatever you want with these layouts,
	  but it would be greatly appreciated if you gave a link
	  back to http://www.code-sucks.com
	  
*/

* { padding: 0; margin: 0; }

body {
 font-family: Arial, Helvetica, sans-serif;
 font-size: 13px;
}
#wrapper { 
 margin: 0 auto;
 padding: 0;
 background: white;

}
#header {
 color: #333;
 width: 100%;
 float: left;
 height: 100px;
 background: #e9e2d8;
}
#logonav{
 padding-left: 10px;
 float:left;
}

#leftcolumn { 
 color: #333;
 /* border: 1px solid #ccc; */
 background: #e9e2d7;
 margin: 0px;
 width: 600px;
 float: left;
 
}


element.style {
height: 258px;
}

.site-nav{
    width: 100%;
    background-color: #333; }


.site-nav ul{
    margin: 0; padding: 0;
    float: left;}
 
.site-nav ul li{
    display: inline;}
 
.site-nav ul li a{
    float: left; text-decoration: none;
    color: white;
    padding: 10.5px 11px;
    background-color: #333; }
 
.site-nav ul li a:visited{
    color: white;}
 
.site-nav ul li a:hover, .site-nav ul li .current{
    color: #fff;
    background-color:#0b75b2;}
    


#rightcolumn { 
 float: right;
 color: #333;
 /* border: 1px solid #ccc; */
 background: white;
 width:50%;
}

#row {
width:400 px;
margin-left: 30px;

}

#row me{
width:400 px;
margin-left: 30px;

}


#footer { 
 width: 1400px;
 height: 100px;
 clear: both;
 color: white;
 background: #e9e2d8;
 margin: 0px 0px 10px 0px;
}



/*OTHER STYLES*/



/*NAV BAR*/

.navbarme{
	font-family: Helvetica, Sans-Serif;
	font-family: BreeLight, Sans-Serif;
	font-size: 16px;
/* 	background-color: rgb(238,232,224); */
/* 	width:1020px; */
/* 	height:100px; */
	
}
.navbarme ul {
	margin-left: 40%;
	margin-top: 40px;
	}
	.navbarme li{
		float:left;
		margin-right:80px;
		}
		.navbarme li:last-child{
			margin-right: 0;
		}
		.navbarme li a {
			color:#666;
		}
		.navbarme li a:hover {
			color: #d00;
		}


element.style {
height: 258px;
}

.site-nav{
    width: 100%;
    background-color: #333; }


.site-nav ul{
    margin: 0; padding: 0;
    float: left;}
 
.site-nav ul li{
    display: inline;}
 
.site-nav ul li a{
    float: left; text-decoration: none;
    color: white;
    padding: 10.5px 11px;
    background-color: #333; }
 
.site-nav ul li a:visited{
    color: white;}
 
.site-nav ul li a:hover, .site-nav ul li .current{
    color: #fff;
    background-color:#0b75b2;}
    
    
    
    
    
    
    /*RECOMMENDATIONS*/
    
    
    .row {}
    .recommendation.item {
    	float:left;
    	margin-right: 30px;
    
    }

    .recommendation.item.selected {}

    .recommendation.item.prev, .recommendation.item.next {
    	margin-top: 75px;
    }
    .recommendation.item.next {
    	margin-right: 0;
    	}

    .recommendation.item.prev .content, .recommendation.item.next .content{
    	height:200px;
    	border:solid 2px #666;
    	
    }
    .recommendation.item.selected .content {
    	height:350px;
    	border:solid 2px #d00;
    }
    
    
    /*FINDINGS*/
    
    #findings-list li {
    	float: left;
    	margin-right:30px;
    	margin-bottom: 20px;
    	width:200px;
    	}
    #findings-list li:last-child {
    	margin-right:0px;
    	}	

    #findings-list li img {
    	width:200px;
    	margin-bottom: 10px;
    }
     #findings-list li p {
    	max-height:104px;
    }
    
    
    
    /*MAYBE USEFUL BUT NOT REALLY*/



/*
body { 
    background: #fff;
}

a { 
    color: #00c;
    text-decoration: underline;
}


input { height: 18px;}

textarea {
    width:610px;
    height:200px;
}

.btn-primary {
background-color: #0074CC;
background-image: -webkit-linear-gradient(top, #08C, #05C);

.btn-primary a{
    background-color: #0074cc;
    background-image: -webkit-linear-gradient(top, #08C, #05C);
 }
 
.btn-primary a:visited{
    color: #eb4a54;
    background-color: #b21039; 
    background-image:-webkit-linear-gradient(bottom,#08C,#05C);
    }
 
.btn-primary a:hover{
    color: #fff;
    background-color: #0b75b2;
    }
*/




