body { 
    background: #fff;
}

a { 
    color: #00c;
    text-decoration: underline;
}


input { height: 18px;}

textarea {
    width:610px;
    height:200px;
}

.btn-primary {
background-color: #0074CC;
background-image: -webkit-linear-gradient(top, #08C, #05C);

.btn-primary a{
    background-color: #0074cc;
    background-image: -webkit-linear-gradient(top, #08C, #05C);
 }
 
.btn-primary a:visited{
    color: #eb4a54;
    background-color: #b21039;}
 
.btn-primary a:hover{
    color: #fff;
    background-color:#0b75b2;}